/* Open Sans */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* light (weight 300) */
@font-face {
    font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Light-webfont.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* semi-bold (weight 600) */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* bold (weight 700) */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    font-weight: 700;
    font-style: normal;
}

/* bootstrap overrides */
.form-actions {
	margin-bottom: 20px;
}


html {
    background-color: #3a3a3a;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjMzczNzM3Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM0MDQwNDAiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4="); 
}

body {
    width: 100%;
	margin-top: 200px;
	font-family: 'OpenSans', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: transparent;
}

h1 {
    font-family: 'OpenSansBold', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.content {
	margin: auto auto;
	max-width: 500px;
	border-radius: 6px;
	background-image: url('../img/light-texture.png');
}

.logo {
	width: 120px;
	margin-top: -80px;
}

input {
    border-color: #ccc;
}

.redirect-message {
    text-align: center;
}

.redirect-text {
    font-size: 25px;
    font-family: 'OpenSans';
    font-weight: 600;
}

.redirect-text .address {
    font-weight: 300;
}

.redirect-message i {
    margin-bottom: 12px;
}

// retina styles
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content {
    background-image: url('../img/light-texture@2x.png');
    background-size: 256px 256px;
  }
}



