
// import Open Sans Font
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* bootstrap overrides */
.form-actions {
	margin-bottom: 20px;
}

h1 {
	font-family: 'OpenSansBold', 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
}

body {
	background-image: url('../img/background-texture.png');  /* todo add retina*/
	width: 100%;
	margin-top: 200px;
	font-family: 'OpenSans', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.content {
	margin: auto auto;
	max-width: 500px;
	border-radius: 6px;
	background-image: url('../img/light-texture.png');
}

.logo {
	width: 120px;
	margin-top: -80px;
}

input {
    border-color: #ccc;
}

.redirect-message {
    text-align: center;
}

.redirect-message i {
    margin-bottom: 12px;
}

// retina styles
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .content {
    background-image: url('../img/light-texture@2x.png');
    background-size: 256px 256px;
  }
}



